@use 'variables' as v;

html {
     font-size: 62.5%;
     box-sizing: border-box;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
     font-family: v.$fuenteSecundaria;
     font-size: 1.2rem;
     background-color: v.$cafeClaro;
}

p {
     color: v.$negro;
     font-size: 1.6rem;
     line-height: 1.8;
}

.contenedor {
     width: 95%;
     max-width: 90rem;
     margin: 0 auto;
}

a {
     text-decoration: none;
     color: v.$negro;
}

img {
     // La altura se va definiendo de acuerdo al ancho que tenga la imagen
     max-width: 100%;
     display: block;
     height: auto;
}

ul {
     list-style: none;
     padding: 0;
     margin: 0;
}