@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-principal {
     background-color: v.$blanco;
     padding: 5rem 2rem;

     @include m.tablet {
          padding: 8rem;
          margin-top: -6rem;
          position: relative;
     }
}