@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos {

     margin-top: 4rem;

     .listado-iconos {

          @include m.tablet {
               @include m.grid(3, 3rem);
          }

          li {

               img {
                    margin: 0 auto;
                    width: 10rem;
               }

               p {
                    font-family: v.$fuenteCursiva;
                    color: v.$primario;
                    font-size: 3rem;
               }
          }
     }
}